@model IEnumerable<DataAccess.Sell>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DateSell)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customer.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Empleyee.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Order.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product.Title)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DateSell)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Customer.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Empleyee.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Order.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product.Title)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SellID }) |
            @Html.ActionLink("Details", "Details", new { id=item.SellID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SellID })
        </td>
    </tr>
}

</table>
